/* COLOR */
.color-1 {
  color: #050214;
}
.color-2 {
  color: #9c2a66;
}
.color-3 {
  color: #170c17;
}
.color-4 {
  color: #c3c2c3;
}
.color-5 {
  color: #fefefe;
}
.color-6 {
  color: #03e9f4;;
}

/* BACKGROUND-COLOR */
.bg-color-1 {
  background-color: #050214;
}
.bg-color-2 {
  background-color: #9c2a66;
}
.bg-color-3 {
  background-color: #170c17;
}
.bg-color-4 {
  background-color: #c3c2c3;
}
.bg-color-5 {
  background-color: #fefefe;
}
.bg-color-6 {
    background-color: #03e9f4;;
  }
