@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import 'buttons.css';
@import 'navigation.css';
@import 'colors.css';
@import 'heading.css';
/* @import 'table.css'; */
@import 'form.css';
@import 'section.css';
@import 'footer.css';

/*
Button: references
https://getcssscan.com/css-buttons-examples

Tables:
https://freefrontend.com/css-tables/

Forms:
https://freefrontend.com/css-forms/

TABLES
FORM
FOOTER
SECTION
 */

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /* padding: 3em; */
  background-color:white;
  font-family: 'Oswald', sans-serif;
  background-image:
    linear-gradient(rgb(245, 245, 245,0.97), rgb(255, 248, 248,0.97)),
    url('../images/dhvsu.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
}

*:focus {
  outline: none !important;
}
input:focus { 
  outline: none !important;
  border-color: #e00f00;
  box-shadow: 0 0 10px #ee0303;
}
hr {
  margin: 2em 1em;
}



