.navbar {
  background-color: #9c2a66;
  border: none;
  border-radius: 0;
  color: white;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.navbar a {
  color: #e7e6e6 !important;
}

.navbar a:hover {
  color: white !important;
}
